header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: block;
    overflow: hidden;
    background-color: $hex-blue;
    border-bottom: em(5) solid $hex-golden;
    box-shadow: 0 0 em(2.5) 0 $hex-black;
}

.logo {
    
    img {
        display: inline-block;
        vertical-align: top;
    }
}

.primary-menu {
    width: auto;
    
    li {
        text-transform: lowercase;
    }
    a, a:visited {
        text-decoration: none;
        opacity: .75;
        font-weight: 400;
        color: $hex-white;
    }
    a.active {
        position: relative;
        opacity: 1;
        font-weight: 500;
    }
    a.active:before {
        content: "{";
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
    }
    a.active:after {
        content: "}";
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
    }
    a.active:before, a.active:after {
        position: absolute;
        top: 50%;
        @include transform('translateY(-50%)');
        color: $hex-white;
    }
}

.hamburgerTrigger {
    display: inline-block;
    position: absolute;
    //top: em(89.5);
    //right: 0;
    margin-right: em(20);
    width: em(25);
    height: em(17.5);
    cursor: pointer;
    
    top: em(8.7); //tmp
    right: 0; //tmp
}

.hamburger-icon {
    position: relative;
    width: em(25);
    height: em(3.5);
    background-color: $hex-white;
    border-radius: em(1);
    cursor: pointer;
    float: left;
    box-shadow: inset 0 0 em(1) 0 $hex-black;
    
    &:before, &:after {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: em(3.5);
        background-color: $hex-white;
        border-radius: em(1);
        box-shadow: inset 0 0 em(1) 0 $hex-black;
    }
    
    &:after {
        top: em(7);
    }
    
    &:before {
        top: em(14);
    }
}

.scroll-animation {
    @include transition('all 250ms linear');
}